{% if record.taxonomy.categories is defined %}

	{% for category in record.taxonomy.categories %}
		{# Si Nord isere#}
		{% if category == 'section NORD ISERE' %}
			{% setcontent categories = "pages" where { categories: 'section NORD ISERE' }%}
			<h5><u>Section Nord Isère</u></h5>
			<ul>
				{% for category in categories %}
					<li><a href="{{ category.link }}">{{ category.title }}</a></li>
				{% endfor %}
			<ul>   

		{% elseif category == 'section de SAINT MARCELLIN' %}
			{% setcontent categories = "pages" where { categories: 'section de SAINT MARCELLIN' }%}
			<h5><u>Section de Saint Marcellin</u></h5>
			<ul>
				{% for category in categories %}
					<li><a href="{{ category.link }}">{{ category.title }}</a></li>
				{% endfor %}
			<ul>   
		
		{% elseif category == 'section de VIENNE' %}
			{% setcontent categories = "pages" where { categories: 'section de VIENNE' }%}
			<h5><u>Section de Vienne</u></h5>
			<ul>
				{% for category in categories %}
					<li><a href="{{ category.link }}">{{ category.title }}</a></li>
				{% endfor %}
			<ul>  

		{% elseif category == 'section de VOIRON' %}
			{% setcontent categories = "pages" where { categories: 'section de VOIRON' }%}
			<h5><u>Section de Voiron</u></h5>
			<ul>
				{% for category in categories %}
					<li><a href="{{ category.link }}">{{ category.title }}</a></li>
				{% endfor %}
			<ul>  

		{% elseif category == 'section du HAUT DAUPHINE' %}
			{% setcontent categories = "pages" where { categories: 'section du HAUT DAUPHINE' }%}
			<h5><u>Section du Haut Dauphine</u></h5>
			<ul>
				{% for category in categories %}
					<li><a href="{{ category.link }}">{{ category.title }}</a></li>
				{% endfor %}
			<ul>  

		{% else %} 

		{% endif %}

	{% endfor %}

{% else %}
	<h5><u>Syndicat :</u></h5>
	{% setcontent actions = "pages" where { chapters: 'Syndicat' }%}
	<ul>
		{% for record in actions %}
		    <li><a href="{{ record.link }}">{{ record.title }}</a></li>
		{% endfor %}
	<ul>   

{% endif %}