{# On defini le side-menu selon la taxonomy#}

<aside class="large-3 columns"> 
	{% if record.taxonomy.chapters is defined %}
		{% for chapter in record.taxonomy.chapters %}
			{# Si Nos actions#}
			{% if chapter == 'Nos actions' %}
				<h5><u>Nos actions :</u></h5>
				{% setcontent actions = "pages" where { chapters: 'Nos actions' }%}
				<ul>
					{% for record in actions %}
					  <li><a href="{{ record.link }}">{{ record.title }}</a></li>
					{% endfor %}
				<ul>   

			{# Sinon si Qui sommes nous#}
			{% elseif chapter == 'Qui sommes nous' %}
				<h5><u>Qui sommes nous :</u></h5>
				{% setcontent actions = "pages" where { chapters: 'Qui sommes nous' }%}
				<ul>
					{% for record in actions %}
					  <li><a href="{{ record.link }}">{{ record.title }}</a></li>
					{% endfor %}
				<ul>   

			{# Sinon si Syndicat#}
			{% elseif chapter == 'Syndicat' %}
				{% include '_aside_section.twig' %}

			{# Sinon si SCAPIAD#}
			{% elseif chapter == 'SCAPIAD' %}
				<h5><u>La SCAPIAD :</u></h5>
				{% setcontent actions = "pages" where { chapters: 'SCAPIAD' }%}
				<ul>
					{% for record in actions %}
					  <li><a href="{{ record.link }}">{{ record.title }}</a></li>
					{% endfor %}
				<ul>   

			{# Sinon si Formations#}
			{% elseif chapter == 'Formations' %}
				<h5><u>Formations :</u></h5>
				{% setcontent actions = "pages" where { chapters: 'Formations' }%}
				<ul>
					{% for record in actions %}
					  <li><a href="{{ record.link }}">{{ record.title }}</a></li>
					{% endfor %}
				<ul>   

			{# Sinon si Adherents#}
			{% elseif chapter == 'Adherents' %}
				<h5><u>Adherents :</u></h5>
				{% setcontent actions = "pages" where { chapters: 'Adherents' }%}
				<ul>
					{% for record in actions %}
					  <li><a href="{{ record.link }}">{{ record.title }}</a></li>
					{% endfor %}
				<ul>   

			{# Sinon on affiche les dernieres nouvelles #}
			{% else %}    
				<h5><u>Actualités :</u></h5>
				{% setcontent actualites = "actualites/latest/5" %}
				<ul>
					{% for record in actualites %}
					  <li><a href="{{ record.link }}">{{ record.title }}</a></li>
					{% endfor %}
					  <p><br/><a href="{{ paths.root }}actualites"><i>Plus d'articles...</i></a></p>
				<ul> 
			{% endif %}

		{% endfor %}
		{% else %}
		<h5><u>Actualités :</u></h5>
				{% setcontent actualites = "actualites/latest/5" %}
				<ul>
					{% for record in actualites %}
					  <li><a href="{{ record.link }}">{{ record.title }}</a></li>
					{% endfor %}
					  <p><br/><a href="{{ paths.root }}actualites"><i>Plus d'articles...</i></a></p>
				<ul> 
	{% endif %}

</aside>

 