

    </div>
</div>
<!-- Footer -->
        <footer class="footer maxwidth">
            <div class="footer-links">
                <div class="left">
                    <p> © abeille-dauphinoise.fr. All rights reserved. </p>
                    <p><a href="page/mentions-legales">Mentions légales</a></p>
                </div>
                <div class="right">
                    <a href="http://wildcodeschool.fr/" target="_blank">Conception: Wild Code School<a/>
                </div>
            </div>

            <div class="mapper">
                <nav>
                    <ul>
                        <li id="map-opener">
                            <a id="map-open" href="#scroll-down">
                                L'Abeille Dauphinoise
                                <br /><small>
                                28 Rue du Béal
                                <br />
                                38400 Saint-Martin-d'Hères
                                <br />
                                Tél. 04.76.25.07.09</small>
                                <br />
                                <img src="{{ paths.theme }}images/tools/arrow-bot-mini.gif"/>
                            </a>
                            <a id="map-close" href="#scroll-up">
                                L'Abeille Dauphinoise
                                <br /><small>
                                28 Rue du Béal
                                <br />
                                38400 Saint-Martin-d'Hères</small>
                                <br />
                                <img src="{{ paths.theme }}images/tools/arrow-top-mini.gif"/>
                            </a>
                        </li>
                        <li id="scroll-top">
                            <a href="#top" class="scrollTo">
                            <img src="{{ paths.theme }}images/tools/arrow-top.png"/>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="map"></div>
                <div id="scroll-down"> </div>
            </div>
        </footer>
    <script src="{{ paths.theme }}javascripts/jquery-2.1.0.min.js"></script>
    <script src="{{ paths.theme }}javascripts/foundation.min.js"></script>
    <script src="{{ paths.theme }}javascripts/modernizr.js"></script>

    {# Bolt comes with Magnific Popup, as it's used in the backend. We can use it here, or you can
       just swap it out for the image-viewing script of your choice. Or delete it altogether. #}
    <script src="{{ paths.theme }}javascripts/jquery.magnific-popup.min.js"></script>
    <script src="{{ paths.theme }}javascripts/app.js" async defer></script>

    {# Lien vers le js du plugin map leaflet #}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>

    {# Ajout des js-scripts perso #}
    <script src="{{ paths.theme }}javascripts/scrollTop.js"></script>
    <script src="{{ paths.theme }}javascripts/mappIng.js"> </script>
    <script src="{{ paths.theme }}javascripts/fixedMenu.js"></script>
</body>
</html>
