{% include '_header.twig' %}

{% setcontent guides = 'guide' orderby 'sous_partie' %}

<!-- Main Page Content and Sidebar -->
    {# include the sidebar. The include tag can be used to break up your templates in logical parts,
       and re-use them across different templates/pages. #}
    {% include '_aside_guide.twig' %}

    <!-- Main Blog Content -->
    <div class="large-9 columns">
      <main>

      	<h1 class="_titles">Guide de l'apiculteur</h1><br/>

      	<nav>
      		<ul style="list-style-type:none">
				{% for guide in guides %}
                    {% if guide.sous_partie|length == 1 %}
    					<li class="guide_section">
    					<a href="#{{ guide.sous_partie }}">{{ guide.sous_partie }}  {{ guide.titre }} </a>
    					</li>
                    {% else %}
                        <li class="guide_sous_section">
                        <a href="#{{ guide.sous_partie }}">{{ guide.sous_partie }}  {{ guide.titre }} </a>
                        </li>
                    {% endif %}
				{% endfor %}
			</ul>
		</nav>

        <div class="guide_content">
		{% for guide in guides %}
    		<div id="{{ guide.sous_partie }}"></div>
    		<br/><br/>
    	    {% if guide.sous_partie|length == 1 %}
            <h2>{{ guide.sous_partie }} {{ guide.titre }} <br/></h2>
            {% else %}
            <h3>{{ guide.sous_partie }} {{ guide.titre }} <br/></h3>
            {% endif %}
    	    <p>{{ guide.texte }}<p>
            {% endfor %}
        </div>

      </main>
    </div>

    <!-- End Main Content -->

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}