{% include '_header.twig' %}
                {# Fin du header #}

                {% include '_aside.twig' %}

                <div class="large-9 columns">
                    <main>
                        <div class="content_telechargement">
                            <h1 class="main_title"> Page de téléchargement : </h1>
                            <ul style="list-style-type:none">
                                {% setcontent telechargements = 'telechargement'%}
                                {% for telechargement in telechargements %}
                                    <li>
                                    <h6> <a href="files/{{ telechargement.fichier }} "> {{ telechargement.titre }} </a> 
                                    <span class="h6_medium"> - publié le {{ telechargement.datecreated|date('d-m-Y')}} par {{ telechargement.user.displayname }} </span></h6>
                                    </li>
                                    <p>Déscription : {{ telechargement.description }}</p><br />
                                {% endfor %}
                            </ul>
                        </div>
                    </main>
                </div>
            </div>
        </div>

                 {% include '_footer.twig' %}
